<section class="border-retro-primary/20 border-b">
  <div class="mx-auto border-retro-primary/20 border-x max-w-7xl">
    <div class="bg-transparent duration-200 group hover:bg-retro-primary">
      <a
        href="https://github.com/rafael-zzz"
        class="text-retro-primary text-center items-center w-full duration-200 
        focus:outline-none focus:ring-2 focus:ring-retro-primary font-['ZX_Spectrum-7'] 
        font-medium inline-flex justify-center lg:py-6 text-4xl px-4 py-6 
         terminal-text"
      >
        > Check out more!<span class="text-retro-primary"></span>
      </a>
    </div>
  </div>
</section>