---
import Image from "astro/components/Image.astro";

---

<section class="projects-list">
  <div class="projects-header">
    <h1 class="font-['Departure_Mono'] header-text">About Me</h1>
  </div>
  <div class="content-container">
    <div class="mx-auto max-w-7xl px-2">
      <div class="min-h-[300px] relative flex flex-col md:flex-row">
        <!-- Left side: Text content -->
        <div class="flex-1 md:max-w-[50%] p-2 -mt-6 md:-mt-1">
          <h1 class="font-['ZX_Spectrum-7'] text-5xl terminal-text mb-2">
            <span class="inline-block">I'm Rafael</span>
          </h1>
          <p class="font-['Departure_Mono'] text-retro-primary text-xl">
            A brazilian cybersecurity enthusiast, passionate about pentesting and cryptography, with a fondness for retro systems. Currently studying Computer Science while pursuing some tech-related interests.
          </p>
        </div>

        <div class="flex-1 flex items-center justify-center p-4 md:justify-end lg:pr-8 md:pr-8">
          <picture class="w-full max-w-[300px] lg:max-w-[400px]">
            <Image
              src="/images/rafael.jpg" 
              alt="Rafael"
              width="300"
              height="300"
              class="w-full h-auto object-cover border-4 border-retro-primary/20"
            />
          </picture>
        </div>
      </div> 
    </div>
  </div>
</section>

<style>
  .projects-list {
    background-color: #000;
    border: 2px solid #ffffff;
    position: relative;
    z-index: 1;
  }

  .projects-header {
    background-color: rgba(34, 34, 34, 0.8);
    text-align: center;
    border-bottom: 2px solid #ffffff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  .header-text {
    background-color: #000;
    padding: 1rem;
    border: 2px solid #ffffff;
    position: relative;
    z-index: 1;
    font-size: 1.2rem;
    text-shadow: 1px 1px 0 #000000;
  }

  .content-container {
    padding: 2rem 0;
  }

  @media (max-width: 768px) {
    .projects-list {
      margin-top: 20px;
    }
  }
  @media (max-width: 640px) {
    .projects-list {
      margin-top: -30px;
    }
    .mt-16 {
      margin-top: 1rem;
    }
    .sm\:mt-24 {
      margin-top: 1.5rem;
    }
  }
  
  .spotify-container {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 0.75rem;
  }

  .now-playing {
    display: flex;
    align-items: center;
  }
</style>