<div class="mx-auto overflow-hidden overflow-x-hidden py-3 relative">
    <div class="w-full justify-between grid">
      <div
        class="absolute inset-0 left-0 via-transparent w-44 z-20 bg-gradient-to-r">
      </div>
      <div
        class="absolute inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto">
      </div>
    </div>
    <div
      class="flex items-center animate-marquee font-['Departure_Mono'] font-display gap-4 relative tracking-widest whitespace-nowrap">
       <span class="lg:inline">∆</span> security <span
        class="lg:inline">∆</span
      > pentester <span class="lg:inline">∆</span> graphics tinkerer <span
        class="lg:inline">∆</span
      > curious <span class="lg:inline">∆</span> quantum computing <span
        class="lg:inline">∆</span
      > artificial inteligence <span class="lg:inline">∆</span> software engineer <span
        class="lg:inline">∆</span
      > cryptography <span class="lg:inline">∆</span> security <span
        class="lg:inline">∆</span
      > pentester <span class="lg:inline">∆</span> graphics tinkerer <span
        class="lg:inline">∆</span
      > curious <span class="lg:inline">∆</span> quantum computing <span
        class="lg:inline">∆</span
      > artificial inteligence <span class="lg:inline">∆</span> software engineer <span
        class="lg:inline">∆</span
      > cryptography <span class="lg:inline">∆</span> security <span
        class="lg:inline">∆</span
      > pentester <span class="lg:inline">∆</span> graphics tinkerer <span
        class="lg:inline">∆</span
      > curious <span class="lg:inline">∆</span> quantum computing <span
        class="lg:inline">∆</span
      > artificial inteligence <span class="lg:inline">∆</span> software engineer <span
        class="lg:inline">∆</span
      > cryptography <span class="lg:inline"></span>
      </div>
</div>