<div class="mx-auto overflow-hidden overflow-x-hidden py-3 relative">
    <div class="w-full justify-between grid">
      <div
        class="absolute inset-0 left-0 via-transparent w-44 z-20 bg-gradient-to-r">
      </div>
      <div
        class="absolute inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto">
      </div>
    </div>
    <div
      class="flex items-center animate-marquee2 font-['Departure_Mono'] font-display gap-4 relative tracking-widest whitespace-nowrap">
       <span class="lg:inline">∆</span> focus driven <span
        class="lg:inline">∆</span
      > network <span class="lg:inline">∆</span> low level systems <span
        class="lg:inline">∆</span
      > music enjoyer <span class="lg:inline">∆</span> problem solver <span
        class="lg:inline">∆</span
      > OS enthusiast <span class="lg:inline">∆</span> builder <span
        class="lg:inline">∆</span
      > ricing admirer <span class="lg:inline">∆</span> focus driven <span
        class="lg:inline">∆</span
      > network <span class="lg:inline">∆</span> low level systems <span
        class="lg:inline">∆</span
      > music enjoyer <span class="lg:inline">∆</span> problem solver <span
        class="lg:inline">∆</span
      > OS enthusiast <span class="lg:inline">∆</span> builder <span
        class="lg:inline">∆</span
      > ricing admirer <span class="lg:inline">∆</span> focus driven <span
        class="lg:inline">∆</span
      > network <span class="lg:inline">∆</span> low level systems <span
        class="lg:inline">∆</span
      > music enjoyer <span class="lg:inline">∆</span> problem solver <span
        class="lg:inline">∆</span
      > OS enthusiast <span class="lg:inline">∆</span> builder <span
        class="lg:inline">∆</span
      > ricing admirer <span class="lg:inline"></span>
      </div>
</div>