<section class="fixed top-0 right-0 left-0 border-b border-retro-primary/20 bg-black/80 backdrop-blur-sm lg:left-48 z-40">
  <div class="bg-transparent">
    <div class="text-white w-full flex items-center justify-between px-4 py-2">
      <div class="flex items-center">
        <button 
          type="button"
          id="nav-toggle-btn"
          class="p-2 text-retro-primary hover:bg-retro-primary/20 rounded-lg transition-colors focus:outline-none lg:hidden"
          aria-label="Toggle navigation"
        >
          <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 6.00087C2 5.44811 2.45531 5 2.9918 5H8.6082C8.85391 5 9.09086 5.09085 9.27504 5.25532L11.1666 6.99468C11.3508 7.15915 11.5878 7.25 11.8334 7.25H21.0082C21.5447 7.25 22 7.69811 22 8.25087V18.9991C22 19.5519 21.5447 20 21.0082 20H2.9918C2.45531 20 2 19.5519 2 18.9991V6.00087Z" fill="currentColor"/>
          </svg>
        </button>
        <img src="/logos/logo.png" alt="logo" class="hidden lg:block w-8 h-8 ml-4 border-retro-primary/20">
      </div>
      <div class="flex-grow text-center">
        <span class="text-white text-sm sm:text-sm lg:text-sm font-['Departure_Mono'] inline-flex items-center px-0 text-center py-2">
          <span class="terminal-text text-retro-primary">&nbsp; &rarr; ./Raf's Portfolio</span>
        </span>
      </div>
      <div class="flex-shrink-0 flex space-x-2 p-2">
        <a
          href="https://github.com/rafael-zzz"
          class="bg-transparent duration-200 font-['Departure_Mono'] hover:bg-retro-primary text-xs
          text-retro-primary hover:bg-white/40 border-2 border-retro-primary px-4 py-2 text-center"
        >
          Github 
        </a>
      </div>
    </div>
  </div>
</section>


<style>
  .shadow-retro {
    box-shadow: 4px 4px 0 rgba(255, 255, 255, 0.7);
  }
  
  .shadow-retro-hover {
    box-shadow: -4px -4px 0 rgba(255, 255, 255, 0.7);
  }
  
  .retro-grid {
    position: relative;
    background-color: #0a0a0a;
    background-image: 
      linear-gradient(rgba(255, 255, 255, 1) 1px),
      linear-gradient(90deg, rgba(255, 255, 255, 1) 1px);
    background-size: 32px 32px;
  }
</style>